<style type="text/css">
  .login-form {
    width:440px;
      margin: 50px auto;
  }
    .login-form form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
<div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h2 class="text-left">Log in</h2> 
      <div class="form-group">
     <p class="notice"><%= notice %></p>
      </div>     
      <div class="form-group">
          <%= f.label "Username or Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Username or Email",class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label "Password" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "email",placeholder: "Password",class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.submit "Log in",class:"btn btn-primary btn-block" %>
      </div>     
      <p class="text-left"><a href="/users/sign_up">New User? Register here</a></p>
      <p class="text-left"><a href="/users/password/new">Forgot password</a></p>
    <% end %>
    
</div>
<%#= render "devise/shared/links" %>
